@model VetNet.Models.Ljubimac

<h2 class="text-center">Detalji o ljubimcu</h2>

<div class="sek-pozadina p-3">
    <h4 class="text-center">@Html.DisplayFor(model => model.ime)</h4>
    <hr />
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.datumRodjenja)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.slika)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.slika)
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.rasa)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.rasa)
        </div>
    </div>

    <div class="row">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.spol)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.spol)
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.qrCode)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.qrCode)
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.Korisnik)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.Korisnik.ime)
            @Html.Raw(" ")
            @Html.DisplayFor(model => model.Korisnik.prezime)
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-start @if (!(User.IsInRole("Administrator") || User.IsInRole("Veterinar"))) {
    @Html.Raw("d-none")
;}">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="sek-pozadina text-dark add-new-button ">Uredi podatke o ljubimcu</a>
        <a asp-action="CreateForLjubimac" asp-controller="Recept" asp-route-id="@Model?.Id" class="sek-pozadina text-dark add-new-button ">Dodaj recept</a>
        <a asp-action="CreateForLjubimac" asp-controller="Pregled" asp-route-id="@Model?.Id" class="sek-pozadina text-dark add-new-button ">Dodaj pregled</a>
    </div>
    <div class="col text-end">
        <a asp-action="Index" class="sek-pozadina text-dark add-new-button">Ljubimci</a>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
