@model IEnumerable<VetNet.Models.Ljubimac>

<h1 class="text-center ">Ljubimci</h1>
 @if (User.IsInRole("Administrator") || User.IsInRole("Veterinar"))
{
    <p>
        <a asp-action="Create" class="sek-pozadina text-dark add-new-button">Dodaj novog ljubimca</a>
    </p>
}
<table class="table sek-pozadina">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qrCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qrCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.ime)
                @Html.Raw(" ")
                @Html.DisplayFor(modelItem => item.Korisnik.prezime)
            </td>
            <td>
                <a asp-action="Details" class="text-dark text-decoration-none" asp-route-id="@item.Id">Detalji</a>
                @if (User.IsInRole("Administrator") || User.IsInRole("Veterinar"))
                {
                    @Html.Raw("|")
                    <a asp-action="Edit" class="text-dark text-decoration-none" asp-route-id="@item.Id">Uredi</a> @Html.Raw("|")
                    <a asp-action="Delete" class="link-danger text-decoration-none" asp-route-id="@item.Id">Obriši</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
