@model VetNet.Models.Ljubimac

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ljubimac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumRodjenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.slika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.slika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qrCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qrCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
