@model IEnumerable<VetNet.Models.Ljubimac>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qrCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qrCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
