@model IEnumerable<VetNet.Models.Izvjestaj>

<h1 class="text-center">Izvještaji</h1>

<p>
    <a asp-action="Create" class="sek-pozadina text-dark add-new-button">Dodaj novi izvještaj</a>
</p>
<table class="table sek-pozadina">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.datumVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sadrzaj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.datumVrijeme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sadrzaj)
                </td>
                <td>
                    <a asp-action="Details" class="text-dark text-decoration-none" asp-route-id="@item.id">Detalji</a>
                    |
                    <a asp-action="Edit" class="text-dark text-decoration-none" asp-route-id="@item.id">Uredi</a>
                    |
                    <a asp-action="Delete" class="link-danger text-decoration-none" asp-route-id="@item.id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
