@model VetNet.Models.Pregled

<h2 class="text-center">Detalji o pregledu</h2>

<div class="sek-pozadina p-3">
    <h4 class="text-center">@Html.DisplayFor(model => model.Ljubimac.ime)</h4>
    <hr />
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.datumVrijeme)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.datumVrijeme)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.razlog)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.razlog)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.postupak)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.postupak)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.dijagnoza)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.dijagnoza)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.napomena)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.napomena)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.terapija)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.terapija)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.Korisnik)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.Korisnik.ime)
            @Html.Raw(" ")
            @Html.DisplayFor(model => model.Korisnik.prezime)
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-start @if (!(User.IsInRole("Administrator") || User.IsInRole("Veterinar"))) {@Html.Raw("d-none");}">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="sek-pozadina text-dark add-new-button ">Uredi pregled</a>
    </div>
    <div class="col text-end">
        <a asp-action="Index" class="sek-pozadina text-dark add-new-button">Pregledi</a>
    </div>
</div>

