@model VetNet.Models.Recept

<h3 class="text-center">Da li ste sigurni da želite obrisati odabrani recept?</h3>

<div class="sek-pozadina p-3 mb-3">
    <h4 class="text-center">@Html.DisplayFor(model => model.Ljubimac.ime)</h4>
    <hr />
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.datumVrijeme)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.datumVrijeme)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.lijek)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.lijek)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.doza)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.doza)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.napomena)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.napomena)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.Korisnik)
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.Korisnik.ime)
            @Html.Raw(" ")
            @Html.DisplayFor(model => model.Korisnik.prezime)
        </div>
    </div>
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger moj-outline" />
    </form>
</div>
<div>
    <a asp-action="Index" class="sek-pozadina text-dark add-new-button">Recepti</a>
</div>
