@model IEnumerable<VetNet.Models.Recept>

<h1 class="text-center ">Recepti</h1>
@if (User.IsInRole("Administrator") || User.IsInRole("Veterinar"))
{
    <p>
        <a asp-action="Create" class="sek-pozadina text-dark add-new-button">Dodaj novi recept</a>
    </p>
}
<table class="table sek-pozadina">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.datumVrijeme)
            </th>
            <th>
                Aktivan
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lijek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.napomena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ljubimac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.datumVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.otvoren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lijek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.napomena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ljubimac.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.ime)
                @Html.Raw(" ")
                @Html.DisplayFor(modelItem => item.Korisnik.prezime)
            </td>
            <td>
                <a asp-action="Details" class="text-dark text-decoration-none" asp-route-id="@item.Id">Detalji</a>
                @if (User.IsInRole("Administrator") || User.IsInRole("Veterinar"))
                {
                    @Html.Raw("|")
                    <a asp-action="Edit" class="text-dark text-decoration-none" asp-route-id="@item.Id">Uredi</a> @Html.Raw("|")
                    <a asp-action="Delete" class="link-danger text-decoration-none" asp-route-id="@item.Id">Obriši</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
